main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container {
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: grey;
  border: solid black 1px;
}

.item {
  background: lightseagreen;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
}

.item1 {
  border: solid red 1px;
  background-color: grey;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.item2 {
  border: solid red 1px;
  background-color: grey;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.item3 {
  border: solid red 1px;
  background-color: grey;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.item4 {
  border: solid red 1px;
  background-color: grey;
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 2;
}

.item5 {
  border: solid red 1px;
  background-color: grey;
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
}

.item6 {
  border: solid red 1px;
  background-color: grey;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
}

.item7 {
  border: solid red 1px;
  background-color: grey;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}
.item8 {
  border: solid red 1px;
  background-color: grey;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
}
.item9 {
  border: solid red 1px;
  background-color: grey;
  grid-column-start: 6;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 5;
}
